---
export interface Props{
    title: string
    description: string
    link: string    
}
const {title, description, link} = Astro.props
---

<div class="project-card">
    <h3>{title}</h3>
    <p>{description}</p>
    <a href={link}>View Repository</a>
</div>